@media only screen and (min-width: 600px) {
    .bodycontainer {
        background: yellow;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 16px;
        display: block;
        background-size: 100%;
    }
  }
  
  @media only screen and (max-width: 599px) {
    .bodycontainer {
        background-repeat: no-repeat;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        display: block;
        margin-bottom: 50px;
        align-self: center;
        background-color: #111111; 
        background-repeat: no-repeat;
        background-size: 100%;     
    }
  }
  
  @media only screen and (min-width: 600px) {
    .headercontainer {
      background: rgb(5, 0, 0);
      color: rgb(128, 10, 16);
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 599px) {
    .headercontainer {
      background: rgb(5, 0, 0);
      color: rgb(128, 10, 16);
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .burgertext {
      background: #ffffff;
      color: rgb(128, 10, 16);
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 599px) {
    input {
      background: #ffffff;
      color: rgb(128, 10, 16);
      text-align: center;
    }
  }
  
  
  .container {
    align-self: center;
  }
  